<!--The content below is only a placeholder and can be replaced.-->


<main role="main" class="main">

	<div class="color-bar row p-0 m-0">
		<div class="col-3"></div>
		<div class="col-6"></div>
		<div class="col-3"></div>
	</div>

	<div class="container-fluid row justify-content-center p-0 m-0">
		<div class="col-md-6 p-0 p-md-0">
			<div class="small-panel bg-light">
				
				<div class="top-panel">
					<div class="text-center">
						<a class="navbar-brand ml-2" href="https://skipped.io"><img src="./assets/logo/logo_color.png" alt="skipped.io"/></a>
					</div>
				</div>
				<br/>
				<br/>
				<br/>
				<div class="body-panel pl-2 pr-2 m-auto">
					
					<h5 class="text-center">Congratulations! your account has been confirmed!</h5>
					<hr class="hr-theme2"/>
					<br/>
					<br/>
					
					<div class="my-form-holder login-form-holder text-center">
						

      
            <p>Continue to sign in below to access the Skipped world!</p>
            <br>
            <br>

            <button (click)="signOn()" class="btn btn-theme2 bg-theme2" >Sign In</button>
            <br>
            <br>

</div>
</div>
</div>
<registerFooter></registerFooter>
</div>
</div>
</main>

  