<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
    <img width="100%" src="../../../assets/top_bar.png" alt="top_bar">

    <div class="container">
        <div style="text-align:center">
            <br><br>
            <img width="300" id="logo" src={{imageUrl}}>
            <h3>Congratulations! your account has been confirmed!</h3>
            <br>
            <hr class="top_bar">
            <br>
        </div>
        <hr>
        <div class="main">
            <br>
            <p>Congratulations! You have successfully confirmed your account.</p>
            <p>Continue to sign in below to access the Skipped world!</p>
            <br>
            <br>

            <button (click)="signOn()" class="btn btn-default" >Sign In</button>
            <br>
            <br>
        </div>
    </div>
</div>
<registerFooter></registerFooter>