

/**

      @media (min-width: 768px){
                  
      }
      @media (min-width: 992px){
       
      }
      @media (min-width: 1200px){
        
      }
      @media (min-width: 1535px){
        
      }
**/
// .container {
//     background-color: rgb(245, 245, 245);
    
//     max-height: 100%;
//     margin: auto;
//     @media (min-width: 768px){
//       width: 50%;  
//     }
//     @media (min-width: 992px){
//       width: 44.5%;
//     }
//     @media (min-width: 1200px){
//       width: 44.5%;
//     }
//     @media (min-width: 1535px){
//       width: 44.5%;
//     }
// }

// button {
//     width:30%;
//     background-color: orange;
// }


// .userTypeSelection {
//     width: 44.5%;
//     margin: auto;
// }
// #logo{
//   width: 50%;
//   margin: auto;
// }

.inputGroup {
    background-color: #fff;
    display: block;
    border-style: solid;
    border: 1px solid #ccc!important;
    width: 75%;
    margin: auto;

    label {

      margin: auto;
      padding-top: 5px;
      width: 100%;
      display: block;
      text-align: left;


    }

    input:checked ~ label {
      //576px, 768px, 992px, and 1200px
      @media (min-width: 768px){
        // background-position-x: 125px;
        background-color: lightblue;
        width: 100%;           
      }
      @media (min-width: 992px){
        background-color: white;
        background-position-x: 125px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-image: url(../../../../assets/checkbox_check.png);
      
      }
      @media (min-width: 1200px){
        background-color: white;
        background-position-x: 150px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-image: url(../../../../assets/checkbox_check.png);
    
      }
      @media (min-width: 1535px){
        background-color: white;
        background-position-x: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-image: url(../../../../assets/checkbox_check.png);
      
      }
         
      }

    input {
      width: 100%;
      height: 100%;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
