<!--The content below is only a placeholder and can be replaced.-->
<div id="main" style="text-align:center">
    <img width="100%" src="../../../assets/top_bar.png" alt="top_bar">

    <div class="container">
        <br><br>
        <img width="300" id="logo" src={{imageUrl}}>
        <h3>First, Who are you here?</h3>
        <br><br>
        <div class="userTypeSelection">
            <div class="inputGroup">
                <input (click)="userTypeSelection()" id="radio1" value="Candidate" name="radio" type="radio" />
                <label for="radio1">I am a Candidate</label>
            </div>
            <br>
            <div class="inputGroup">
                <input (click)="userTypeSelection()" id="radio2" value="Recruiter" name="radio" type="radio" />
                <label for="radio2">I am a Recruiter</label>
            </div>
            <!-- <input><label>I am a Candidate</label>
        <br>
        <button>I am a Recruiter</button>
        <br> -->
        </div>
        <br><br>
        <button (click)="nextButton()" [disabled]="((disableNextButton$ | async))">Next</button>
        <br>
        <button (click)="signInWithGoogle()" [disabled]="((disableNextButton$ | async))">google</button>
        <br>
        <button (click)="signInWithGoogle()" [disabled]="((disableNextButton$ | async))">facebook</button>
        <br>
        <button (click)="signInWithGoogle()" [disabled]="((disableNextButton$ | async))">linkdin</button>
        <div *ngIf="googleErrors$?.loginFailed ==true">
            Couldnt sign in with google
        </div>
        <!-- <meta name="google-signin-scope " content="profile email ">
        <meta name="google-signin-client_id " content="YOUR_CLIENT_ID.apps.googleusercontent.com "> -->

        <!-- <div class="g-signin2 " data-onsuccess="onSignIn " data-theme="dark "></div> -->



        <p>Already have an account? <a href="/signOn">Sign in</a> </p>
        <br><br>
    </div>
    <cookie-law></cookie-law>
    <registerFooter></registerFooter>