


<main role="main" class="main">

	<div class="color-bar row p-0 m-0">
		<div class="col-3"></div>
		<div class="col-6"></div>
		<div class="col-3"></div>
	</div>

	<div class="container-fluid row justify-content-center p-0 m-0">
		<div class="col-md-6 p-0 p-md-0">
			
			<div class="small-panel bg-light">
				
				<div class="top-panel">
					<div class="text-center">
						<a class="navbar-brand ml-2" href="https://skipped.io"><img src="./assets/logo/logo_color.png" alt="skipped.io"/></a>
					</div>
				</div>
				
				<br/>
				<br/>
				
				<h5 class="text-center">Forgot Password?</h5>
				<br/>
				<br/>
				
				<div class="">Enter your email address below to receive a link to reset your password</div>
				<br/>
				<br/>
				<br/>
				
				<div class="body-panel pl-2 pr-2 m-auto">
					
					<div class="my-form-holder login-form-holder text-left">
                        <form class="my-form login-form" [formGroup]="profile" (ngSubmit)="onSubmit()" action="" method="post">
                            <div class="cross-validation " [class.cross-validation-error]="profile.errors?.identityRevealed && (profile.touched || profile.dirty) ">
                                
                                <div class="form-group">
                                    <label for="email">Registered Email *</label>
                                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="yourname@mail.com"/>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched) " class="alert alert-danger ">

                                        <div *ngIf="email.errors?.required ">
                                            Email is required.
                                        </div>
                                        <div *ngIf="email.errors?.email ">
                                            Email is invalid.
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <div class="form-group text-center">
                                    <button [disabled]="profile.invalid" type="submit" class="btn btn-theme2 bg-theme2">Confirm</button>
                                </div>
                            </div>
						</form>
						
					</div>
					<a class="" href="./signOn">Cancel</a>
                    <p id="sentMessage" style="display: none;">Email Sent!</p>
                    <p id="sendFailed" class="alert-danger" style="display: none;">Failed to send Email Please <a href="contactUs">contact us</a> for us to help you further.  </p>
                    
                
				</div>
				
			</div>
			
			
<registerFooter></registerFooter>
		
		</div>
		
	</div>
	
</main>

