

/**

      @media (min-width: 768px){
                  
      }
      @media (min-width: 992px){
       
      }
      @media (min-width: 1200px){
        
      }
      @media (min-width: 1535px){
        
      }
**/
.leftNav{
      width: 20%;
      height: 50%;
      background-color: lightgrey;
      padding: 10px 0px;
}