		
       <h4>{{userName}}</h4>
       <div class="text-themeblack pt-1 pb-1">
              Apex Inc, 07789
       </div>
       <div class="text-gray pt-1 pb-1">
              Last active : 30 min
       </div>
       
       <div class="dashboard_nav">
              <ul class="list-unstyled p-0 m-0">
                     <li id="dashboard" ><a href="#dashboard"><span class="fa fa-bars"></span> Dashboard</a></li>
                     <li id="profile"  ><a href="/portal/profile"><span class="fa fa-bars"></span> Profile</a></li>
                     <li id="settings" ><a href="#settings"><span class="fa fa-bars"></span> Settings</a></li>
                     <li id="signOut" ><a href="#sign_out"><span class="fa fa-bars"></span> Sign out</a></li>
              </ul>
       </div>
