<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
    <img width="100%" src="../../../assets/top_bar.png" alt="top_bar">

    <div class="container">
        <div style="text-align:center">
            <br><br>
            <img width="300" id="logo" src={{imageUrl}}>
            <h3>Email Confirmation sent to you!</h3>
            <br>
            <!-- <progressBar></progressBar> -->
            <hr>
            <div>
                <p>Congratulations! you have completed the first step.</p>
                <br>
                <p>Lookout for email from skipped.io it will help you proceed in your registration process.</p>
                <p>If you have not recieved an email, click below button to resend verification Email.</p>
                <br>
                <br>

                <button (click)="resendEmail()" class="btn btn-default" >Resend Email</button>
                <button (ngClick)="goHome()" class="btn btn-default" >Back To Skipped Home</button>
            </div>
        </div>



    </div>
</div>
<registerFooter></registerFooter>