<div id="footer">

    <ul>
        <li><a href="#home">Candidates</a></li>
        <li><a href="#news">Refer a Friend</a></li>
        <li><a href="#contact">Recruiter</a></li>
        <li><a href="#about">Team</a></li>
        <li><a href="#about">Skipped's Linkedin</a></li>
        <li><a href="#about">Skipped's Twitter</a></li>
        <li><a href="#about">Privacy</a></li>
        <li><a href="#about">Terms</a></li>
        <li><a href="#about">Sitemap</a></li>
    </ul>
    <!-- <cookie-law></cookie-law> -->
</div>