
<div class="container">


  <secureHeader></secureHeader>
 
<div id="loading" >
  <div class="spinner-border text-info" role="status">
    </div>
    Loading...
</div>
    <!-- <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div> -->

  <div id="pageLvlError" class="alert alert-primary d-none" role="alert">
    Page Load Failed Please hit <a href="./home" class="alert-link">refresh</a> or <a href="#" class="alert-link"> contact us</a>.
  </div>
  <div id="main" class="card">
    <div class="p-4">
        <div class="d-flex flex-row">
            <div class=""><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="rounded-circle" width="100" /></div>
            <div class="pl-4">
                <h3>{{gamerTag |async}}</h3>
                <h4>{{clanTag |async}}</h4>
                <button class="btn btn-success btn-rounded text-white text-uppercase font-14"><i class="fa fa-plus mr-2"></i> Follow</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col border-right text-center">
                <h2 class="font-light">{{totalKills}}</h2>
                <h4 class="text-uppercase">Total Kills</h4>
            </div>
            <div class="col border-right text-center">
                <h2 class="font-light">{{kd}}</h2>
                <h4 class="text-uppercase">KD ratio</h4>
            </div>
            <div class="col text-center">
                <h2 class="font-light">{{numberOfGames}}</h2>
                <h4 class="text-uppercase">Number Of Games</h4>
            </div>
        </div>
    </div>
    <div class="card-body border-top">
        <p class="text-center aboutscroll">
            {{about | async}}
        </p>
        <hr />
        <h4 class="font-medium text-center mt-4">Followers</h4>
        <ul class="list-style-none list-icons d-flex flex-item text-center pt-2">
            <li class="col px-2">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Shaina Chhatraliya">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="rounded-circle" width="50" />
                </a>
            </li>
            <li class="col px-2">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Nirav Joshi">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="rounded-circle" width="50" />
                </a>
            </li>
            <li class="col px-2">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Vishal Bhatt">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="rounded-circle" width="50" />
                </a>
            </li>
            <li class="col px-2">
                <a href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="More">
                    <button class="btn btn-circle btn-info text-white btn-lg" href="javascript:void(0)">
                        5+
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body border-top">
        <ul class="list-style-none list-icons d-flex flex-item text-center">

          <div class="mb-2"><b>Share Summary</b></div>
            <li class="col">
                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Website"><i class="fa fa-globe font-20"></i></a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="twitter"><i class="fa fa-twitter font-20"></i></a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook-square font-20"></i></a>
            </li>
            <li class="col">
                <a href="javascript:void(0)" class="text-muted" data-toggle="tooltip" title="" data-original-title="Youtube"><i class="fa fa-youtube font-20"></i></a>
            </li>
        </ul>
    </div>
  </div>
   
 
 
  <div class="row footer">
      <div class="d-grid gap-2 d-md-block">
        <button type="button"  routerLink="/newGame"  class="btn btn-primary">New Game</button>
        <button routerLink="/profile"  class="btn btn-primary" type="submit">Profile Page</button>
      </div> 
  </div>
 
  
  
</div>