
<div class="container">

  <div class="row header">
    <div class="col-sm logo">
      logo
    </div>
    <div class="col-6 welcome_message">
      welcome message
    </div>
    <div class="col-sm search">
      search
    </div>
     <div class="col-auto user">
      Users
    </div>
    
  </div>
  
  <div class="row subHeader">
    <div class="col">
      tagName
    </div>
    <div class="col">
      PF Image
    </div>
     <div class="col">
      Edit PF
    </div>
  </div>
 
 
  
    <div class="row">
     Total Kills
    </div> 
     <div class="row">
      KD ratio
    </div> 
     <div class="row">
      Clan tag
    </div> 
     <div class="row">
      Player Level
    </div> 
   
 
  <div class="row footer">
    <div class="col">
      History Page
    </div> 
    <div class="col">
      <button type="button"  routerLink="/newGame"  class="btn btn-primary btn-lg">New Game</button>
    </div> 
  </div>
 
  
  
</div>