/**

      @media (min-width: 768px){
                  
      }
      @media (min-width: 992px){
       
      }
      @media (min-width: 1200px){
        
      }
      @media (min-width: 1535px){
        
      }
**/

.container {
    text-align: center;
}

.container {
    background-color: rgb(245, 245, 245);
    width: 44.5%;
    margin: auto;
    height: 100%;
}

button {
    width: 30%;
    background-color: orange;
}

.passForm {
    width: 44.5%;
    margin: auto;
}

.introForm.label {
    text-align: left;
}

#logo {
    width: 50%;
    margin: auto;
}