.text-navy{color: #000080;}
.text-blue{color: #0000ff;}
.text-yellow{color: #ffff00;}
.text-golden{color: #daa520;}
.text-orange{color: #ffa500;}
.text-skyblue{color: #bfdfff;}
.text-violet{color: #ee82ee;}
.text-indigo{color: #4b0082;}
.text-green{color: #008000;}
.text-red{color: #ff0000;}
.text-gray{color: #808080;}
.text-white{color: #ffffff;}
.text-black{color: #000000;}

.jhide{display: none !important;}
.jshow{display: block !important;}


body{
	font-family: "Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif;
	font-size: 12pt;
	color: #0d0d0d;
}
a{
	cursor: pointer;
}
.header{
	background-color: #144866;
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}
.navbar-brand img{
	max-height: 48px;
}
.header .navbar .dropdown-menu{
	right: 0px !important;
	left: auto;
}
.header a.nav-link{
	color: #eee !important;
}
.header a.nav-link:hover,
.header a.nav-link:focus{
	background-color: #113c55 !important;
}
.profile-image{
	border: 2px solid #eee;
	border-radius: 50%;
	max-height: 32px;
	max-width: 32px;
}
.navbar-nav .nav-item a.nav-link span.fa{
	font-size: 20px;
}

.custom-search-form {
	
}

.custom-search-form .form-group {
	padding: 2px 12px;
	border-radius: 64px;
	background-color: #113c55;
}

.custom-search-form .search-field {
	background-color: transparent;
	border: none;
}

.custom-search-form .search-field:hover,
.custom-search-form .search-field:focus,
.custom-search-form .search-button:hover,
.custom-search-form .search-button:focus {
	border: none !important;
	box-shadow: none;
	outline: none;
}
.custom-search-form{
	position: relative;
}
.custom-search-form .search-field{
	width: 100%;
	padding-right: 36px;
}

.custom-search-form .search-field.left-pos{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 36px;
	position: relative;
}

.custom-search-form .left-pos-icon{
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	color: #66757d;
}

.custom-search-form .search-field.left-pos{
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 36px;
}

.custom-search-form .search-button {
	position: absolute;
	right: 32px;
	top: 50%;
	transform: translateY(-50%);
}

.custom-search-form .search-field:focus,
.custom-search-form .search-field:not(:placeholder-shown){
	color: #ddd;
}

.custom-search-form .search-button::placeholder {
	color: #577587;
}

.custom-search-form .search-button{
	padding: 0px;
}
.custom-search-form .search-button span{
	font-size: 150%;
	color: #f7931e;
}


.recruiters .recruiter{
	border: 2px solid #e5e5e5;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.recruiters .recruiter:hover{
	border: 2px solid #f7931e;
}

.recruiters .recruiter .recruiter-profile .recruiter-thumb{
	max-height: 256px;
	max-width: 256px;
	max-width: 100%;
	border-radius: 50%;
}
.recruiters .recruiter .recruiter-profile .mark-favourite{
	position: absolute;
	top: 75%;
	left: 75%;
	border: 0.15em solid #89a3b2;
	border-radius: 50%;
	background-color: #fff;
}

.recruiters .recruiter ul{
	font-weight: bold;
}

.recruiters .recruiter:hover .recruiter-profile .mark-favourite{
	border: 0.15em solid #f7931e;
}

.recruiters .recruiter .recruiter-profile .mark-favourite .marked,
.recruiters .recruiter .recruiter-profile .mark-favourite .unmarked{
	display: inline-block;
	vertical-align: center;
	text-align: center;
	font-size: 16px;
	padding: 2px;
	line-height: 22px;
	width: 22px;
	height: 22px;
	color: #89a3b2;
	box-sizing: content-box;
}

.recruiters .recruiter:hover .recruiter-profile .mark-favourite .marked,
.recruiters .recruiter:hover .recruiter-profile .mark-favourite .unmarked{
	color: #f7931e;
}

.recruiters .recruiter .recruiter-profile .mark-favourite .marked{
	display: none;
}

.recruiters .recruiter .recruiter-profile{
	position: relative;
	margin: auto;
	max-width:75%;
	max-height: 256px;
	display: inline-block;
	margin-bottom: 16px;
}

.recruiters .recruiter .recruiter-rating{
	font-size: 20px;
	color: #144866;
	text-align: center;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 8px 12px;
}
@media( max-width: 768px ) {
	.recruiters .recruiter .recruiter-rating{
		justify-content: space-evenly;
	}
}

.recruiters .recruiter .recruiter-rating span.rating{
	
}

.recruiters .recruiter .recruiter-profile::after{
	content: '';
	clear: both;
	display: block;
}
.recruiters .card.recruiter .card-body{
	font-size: 80%;
}

.color-theme1 {
	color: #275f80;
}
.color-theme2 {
	color: #f7931e;
}
.color-themeblack{
	color: #0d0d0d;
}
.color-themewhite{
	color: #e0e0e0;
}

.bg-theme1 {
	background-color: #144866;
}
.bg-theme2 {
	background-color: #f7931e;
}



.btn-outline-theme1{
	border: 2px solid #89a3b2;
	color: #144866;
}
.btn-outline-theme1:hover,
.btn-outline-theme1:focus{
	background-color: #89a3b2;
	color: #fff;
}

.btn-outline-theme2{
	border: 2px solid #f7931e;
	color: #f7931e;
}
.btn-outline-theme2:hover,
.btn-outline-theme2:focus{
	background-color: #f7931e;
	color: #fff;
}
.fix-width-200{
	width: 200px;
}

.btn-outline-theme2:focus{
	background-color: #89a3b2;
}
.btn-outline-theme2{
	border: 2px solid #f7931e;
	color: #f7931e;
}
.btn-outline-theme2:hover,
.btn-outline-theme2:focus{
	background-color: #f7931e;
}



.btn-theme1 {
	color: #fff;
	background-color: #144866;
	border-color: #144866;
}

.btn-theme1:hover {
	color: #fff;
	background-color: #18577b;
	border-color: #18577b;
}

.btn-theme1:focus, .btn-theme1.focus {
	color: #fff;
	background-color: #1c6691;
	border-color: #1c6691;
	box-shadow: 0 0 0 0.2rem rgba(28, 102, 145, 0.5);
}

.btn-theme1.disabled, .btn-theme1:disabled {
	color: #fff;
	background-color: #103951;
	border-color: #103951;
}

.btn-theme1:not(:disabled):not(.disabled):active, .btn-theme1:not(:disabled):not(.disabled).active,
.show > .btn-theme1.dropdown-toggle {
	color: #fff;
	background-color: #084c72;
	border-color: #084c72;
}

.btn-theme1:not(:disabled):not(.disabled):active:focus, .btn-theme1:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme1.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(28, 102, 145, 0.5);
}

.btn-theme2 {
	color: #fff;
	background-color: #f7931e;
	border-color: #f7931e;
}

.btn-theme2:hover {
	color: #fff;
	background-color: #f9ab4f;
	border-color: #f9ab4f;
}

.btn-theme2:focus, .btn-theme2.focus {
	color: #fff;
	background-color: #fab786;
	border-color: #fab786;
	box-shadow: 0 0 0 0.2rem rgba(249, 171, 79, 0.5);
}

.btn-theme2.disabled, .btn-theme2:disabled {
	color: #fff;
	background-color: #462703;
	border-color: #462703;
}

.btn-theme2:not(:disabled):not(.disabled):active, .btn-theme2:not(:disabled):not(.disabled).active,
.show > .btn-theme2.dropdown-toggle {
	color: #fff;
	background-color: #f7931e;
	border-color: #f7931e;
}

.btn-theme2:not(:disabled):not(.disabled):active:focus, .btn-theme2:not(:disabled):not(.disabled).active:focus,
.show > .btn-theme2.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(249, 171, 79, 0.5);
}



.footer{
	background-color: #144866;
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

.footer .link-header{
	font-variant: all-petite-caps;
	color: #eee;
}
.footer ul li .item-link{
	color: #eee;
	font-size: 80%;
}
.bullet-link a{
	font-size: 80%;
	color: #fff;
	text-decoration: none;
	border-left: 2px solid #fff;
	padding: 4px 16px;
}
.bullet-link a:first-child{
	border-left: none;
}
.bullet-link a:hover,
.bullet-link a:focus{
	color: #ddd;
	border-color: #ddd;
}

.web-copyright{
	transition: 0.3s;
}

.web-copyright .copyright-text{
	display: inline-block;
	font-size: 80%;
	color: #eee;
	transition: 0.3s;
}

@media ( min-width: 1200px ) {
	.web-copyright .copyright-text{
		transform: translateY( -200% );
	}
}

.color-bar .col-3,
.color-bar .col-6{
	height: 6px;
	padding: 0px;
}

@media( min-width: 768px ) {
	.color-bar .col-3,
	.color-bar .col-6{
		height: 12px;
	}
}

.color-bar .col-3{
	background-color: #f7931e;
}
.color-bar .col-6{
	background-color: #144866;
}
.small-panel{
	padding: 6em 0.8em;
	text-align: center;
}
.small-panel .top-panel{
	/*
	padding: 4em 2em;
	margin-bottom: 4em;
	*/
}

.small-panel .body-panel{
	width: 100%;
	padding: 8px;
}

.small-panel .body-panel .hr-theme2{
	border-top: 2px solid #f7931e;
}

.custom-progress-holder .progress{
	height: 8px;
	border-radius: 0px;
}

@media( min-width: 768px ) {
	.small-panel .body-panel{
		width: 66.66%;
	}
}

.password-reset-form .custom-password-field-holder{
	padding: 0px !important;
}

.password-reset-form .custom-password-field,
.password-reset-form .custom-password-field:hover,
.password-reset-form .custom-password-field:focus{
	outline: 0px !important;
	border: 0px !important;
	margin: 0px !important;
}

.password-reset-form .custom-password-field-holder span.custom-password-shower{
	padding: 8px;
	font-size: 80%;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	color: #22b3ef;
}
.password-reset-form .cancel-link {
	color: #22b3ef;
}







/* app login */

.app-login{
	
}
.app-login .app-login-url {
	display: block;
	border-radius: 3px;
	border: 2px solid #7b7b7b;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	color: #161616;
	font-weight: normal;
	
}
.app-login .app-login-url .app-icon{
	height: 16px;
	width: auto;
	max-width: 32px;
	vertical-align: baseline;
	margin-right: 16px;
}
.app-login .app-login-url:hover,
.app-login .app-login-url:focus{
	/*
	background: #161616;
	color: #fff;
	*/
	background: #ddd;
	border-color: #000;
}
.selectable-radio{
	position: relative;
}

.selectable-radio .radio-input{
	visibility: hidden;
}

.selectable-radio .radio-input+.radio-label{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	line-height: 100%;
	color: #b6b6b6;
	padding: 8px;
	z-index: 1;
}
.selectable-radio .radio-input:checked+.radio-label{
	color: #161616;
}
.selectable-radio .radio-input:checked+.radio-label::after{
	content: '\2714';
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 3px
	font-weight: bold;
	font-size: 120%;
	color: #26b4f0;
	z-index: 2;
}



/* Dhashboard */
.user_dashboard_panel{
	background-color: #f4f8fb;
}
.dashboard_right_panel{
	background: #fff;
	border-radius: 6px;
	padding: 2px;
}
.dashboard_nav ul li{
	padding: 6px 2px;
}
.dashboard_nav ul li a{
	text-decoration: none;
	color: #969293;
	display: block;
}

.dashboard_nav ul li.active a,
.dashboard_nav ul li a:hover,
.dashboard_nav ul li a:focus{
	color: #111111;
}

.add_tag_btn{
	display: inline-block;
	font-size: 100%;
	padding: 8px 16px;
	background: #f4f8fb;
	border: 2px solid #a3a3a4;
	border-radius: 28px;
	margin: 4px;
	-moz-user-select:none;
	-weblit-user-select:none;
	user-select:none;
	cursor: pointer;
}

.skill_tag{
	display: inline-block;
	font-size: 100%;
	padding: 4px 16px;
	color: #fff;
	background: #2aa7df;
	border: 2px solid #2aa7df;
	border-radius: 28px;
	margin: 4px;
	vertical-align: middle;
}
.skill_tag *{
	line-height: 16px;
}
.skill_tag .tag_remover{
	line-height: 100%;
	font-family: 'Arial', 'sans-serif';
	-moz-user-select:none;
	-weblit-user-select:none;
	user-select:none;
	cursor: pointer;
	font-size: 16px;
	margin-left: 16px;
}

.success-modal .modal-body{
	background-color: #f4f8fb;
	box-shadow: 0 0 8px #aaa;
}

.success-modal .success-note{
	color: #6236ff;
	
}

.match_cand a{
	margin: 2px;
	display: inline-block;
}

.match_cand img{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: 0.2s;
}

.match_cand a:hover img,
.match_cand a:focus img{
	border: 2px solid #ffbf00;
}



/* TAG */


.dashboard-form-holder{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 24px;
	background: #f4f8fb;
	border-radius: 8px;
}

.dashboard3-form-holder{
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	border-radius: 8px;
}

.dashboard3-form-holder .primary-skills{
	padding: 16px;
	border: 1px solid #575748;
	border-radius: 4px;
}

.dashboard3-form-holder .primary-skills .skill_search{
	width: 100%;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	background-image: url('../icons/magnify_24x24.png');
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: right;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder{
	margin-top: 6px;
	height: 220px;
	max-width: 100%;
	padding-right: 4px;
	overflow-y: auto;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder::-webkit-scrollbar{
	background: transparent;
	width: 6px;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder:hover::-webkit-scrollbar-thumb{
	min-height: 10px;
	max-height: 50%;
	border-radius: 4px;
	background: #bbbbbb;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item{
	margin-bottom: 3px;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item:hover{
	background-color: #eeeeee;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item::after{
	content: '';
	display: block;
	clear: both;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_tag_text{
	color: #333;
	float: left;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_tag_btn{
	text-align: left;
	padding: 4px 12px;
	border: 1px solid  #999;
	border-radius: 3px;
	color: #999999;
	background-color: #fff;
	width: 96px;
	float: right;
	outline: none;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_tag_btn:hover,
.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_tag_btn:focus{
	border: 1px solid  #444444;
	background-color: #eeeeee;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_tag_btn.tag_added{
	border: 1px solid  #eeeeee;
	background-color: #eeeeee;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_level_opt{
	color: #cccccc;
	border: 1px solid #f4f4f4;
	padding: 4px;
	float: left;
}

.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_level_opt:hover,
.dashboard3-form-holder .primary-skills .skill_tag_holder .skill_tag_item .skill_level_opt:focus{
	color: #333;
	float: left;
	border: 1px solid #333333;
}






.sal_range .radio_tab{
	display: none;
}

.sal_range .radio_tab+span{
	font-size: 80%;
	color: #999;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.sal_range .radio_tab:checked+span{
	color: #222;
}

.job_type .col{
	position: relative;
	display: block;
	height: 42px;
}

.job_type .radio_tab{
	display: none;
}

.job_type .radio_tab+span{
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 100%;
	line-height: 42px;
	background-color: #04a9ee;
	color: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.job_type .radio_tab:checked+span{
	color: #222222;
	background-color: #e3e6f7;
}


.user_info img.user_thumb{
	height: 48px;
	width: 48px;
	border-radius: 50%;
	padding: 0px;
	background-color: #3b67da;
}