 <header></header>

 <div class="jumbotron jumbotron-fluid">
  <div class="card-header">
    <h1 class="display-4">Feature List</h1>
    <p class="lead">This is an on going project and will be releaseed in multiple phases so not all features are avalaible but do check back or subscribe to our Release Updates.</p>
  </div>


  <div id="accordion">
    
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>Players</strong> and <strong>Fields</strong> register and create profile
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="media-body">
              <h5 class="mt-0">Phase 1</h5>
              <p><strong>Players</strong> will be able to register to our application and be able to create basic profile with social media connection to share your stats.</p>
              <p><strong>Fields</strong> will be able to register to our application and be able to create basic profile with social media connection to share your stats.</p>
          </div>
          <div class="media-body">
            <h5 class="mt-0">Phase 2</h5>
            <p><strong>Players</strong> will be able to add detailed information about their loadouts (camo,gun,attachments...). They will be able to select the loadout they are running for a game.</p>
            <p><strong>Fields</strong> will be able to add detailed information about their fields like maps, hours. They will be able to setup pre registration so players can register to play prior to the day of. </p>
          </div>
        </div> 
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Keep track of score all games
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="media-body">
              <h5 class="mt-0">Phase 1</h5>
              <p><strong>Players</strong> can buy a device which they can use on the field to track stats then they will be able to see their previous games and track stats on a cell phone application.</p>
              <p><strong>Fields</strong> will be able to see the number of registered players at the games that day, they will be able to track the number of games played that day in the field and # of total kills and other stats of the day from the field.</p>
          </div>
        </div> 
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Custom game types
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="media-body">
              <h5 class="mt-0">Phase 1</h5>
              <p><strong>Players</strong> will be able to create custom game types and play the games type of the fields and default games types given.</p>
              <p><strong>Fields</strong> will be able create a custom game type for their field and the players who select that field will be see those game types to play.</p>
          </div>
          <div class="media-body">
            <h5 class="mt-0">Phase 2</h5>
            <p><strong>Players</strong> device will connect to a device on field for more custom games like objective based</p>
            <p><strong>Fields</strong> will be able to setup and play with game control devices.</p>
        </div>
        </div> 
      </div>
    </div>
  </div>


 
</div>

<secureFooter></secureFooter>