

<main role="main" class="main">

	<div class="color-bar row p-0 m-0">
		<div class="col-3"></div>
		<div class="col-6"></div>
		<div class="col-3"></div>
	</div>

	<div class="container-fluid row justify-content-center p-0 m-0">
		<div class="col-md-6 p-0 p-md-0">
			
			<div class="small-panel bg-light">
				
				<div class="top-panel">
					<div class="text-center">
						<a class="navbar-brand ml-2" href="https://skipped.io"><img src="./assets/logo/logo_color.png" alt="skipped.io"/></a>
					</div>
				</div>
				<br/>
				<br/>
				<br/>
				<div class="body-panel pl-2 pr-2 m-auto">
					
					<h5 class="text-center">Welcome back!</h5>
					<hr class="hr-theme2"/>
					<br/>
					<br/>
					
					<div class="my-form-holder login-form-holder text-left">
						<form class="my-form login-form" [formGroup]="profile" (ngSubmit)="onSubmit()" action="" method="post">
                            <div class="cross-validation " [class.cross-validation-error]="profile.errors?.identityRevealed && (profile.touched || profile.dirty) ">
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="yourname@mail.com"/>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched) " class="alert alert-danger ">

                                        <div *ngIf="email.errors?.required ">
                                            Email is required.
                                        </div>
                                        <div *ngIf="email.errors?.email ">
                                            EMail is invalid.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pass">Password *</label>
                                    <input formControlName="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="* * * * * * *"/>
                                    <div *ngIf="pass.invalid && (pass.dirty || pass.touched) " class="alert alert-danger ">

                                        <div *ngIf="pass.errors?.required ">
                                            Password is required.
                                        </div>
                                        
                                    </div>
                        
                                </div>
                                <br/>
                                <br/>
                                <button [disabled]="profile.invalid" type="submit" class="btn btn-block btn-theme2 bg-theme2">Submit</button>
                                <p id="signOnFailed"  class="alert-danger" style="display: none;">Username or Password is incorrect please try again</p>
                            </div>
						</form>
						
					</div>
				
					<br/>
					
				</div>
				
                <br/>
                
					<div id="signUp" > Dont have an account? <a class="color-themeblack" href="/registerRecruiter0">Sign up!</a></div>

                    <div id="forgotPassword" > Forgot Password?<a class="color-themeblack" href="/forgotPass">click here</a></div>
                    
                    <div id="sendFailed" >Need account confirmation email again? <a class="color-themeblack" href="/resendVerification">click here</a>  </div>
                      
				<!-- <div class="">Already registered and haven't receive your confirmation email? Click here to <a class="color-themeblack" href="#">resend email</a></div> -->
				
			</div>
			
            <registerFooter></registerFooter>
		
		</div>
		
	</div>
	
<!--<img class="img-fluid" src="./assets/images/signin - candidate-1.png" alt="preview"/>-->

</main>




<!-- 


<main role="main" class="main">

	<div class="color-bar row p-0 m-0">
		<div class="col-3"></div>
		<div class="col-6"></div>
		<div class="col-3"></div>
	</div>

	<div class="container-fluid row justify-content-center p-0 m-0">
		<div class="col-md-6 p-0 p-md-0">
			<div class="small-panel bg-light">
				
				<div class="top-panel">
					<div class="text-center">
						<a class="navbar-brand ml-2" href="https://skipped.io"><img src="./assets/logo/logo_color.png" alt="skipped.io"/></a>
					</div>
				</div>
				<br/>
				<br/>
				<br/>
				<div class="body-panel pl-2 pr-2 m-auto">
					
					<h5 class="text-center">Welcome back!</h5>
					<hr class="hr-theme2"/>
					<br/>
					<br/>
					
					<div class="my-form-holder login-form-holder text-left">
						

<form class="main" [formGroup]="profile" (ngSubmit)="onSubmit()">


    <div class="cross-validation " [class.cross-validation-error]="profile.errors?.identityRevealed && (profile.touched || profile.dirty) ">
    
        <div class="form-group ">

            <label for="email">Email*</label>
            <br>
            <input id="email " class="form-control " formControlName="email" placeholder="ex: sample@email.com" required>

            <div *ngIf="email.invalid && (email.dirty || email.touched) " class="alert alert-danger ">

                <div *ngIf="email.errors?.required ">
                    Email is required.
                </div>
                <div *ngIf="email.errors?.email ">
                    EMail is invalid.
                </div>
            </div>
        </div>
<br>
        <div class="form-group ">

            <label for="pass">Password*</label>
            <br>
            <input id="pass" class="form-control " placeholder="ex: password"  type="password" formControlName="pass" required>

            <div *ngIf="pass.invalid && (pass.dirty || pass.touched) " class="alert alert-danger ">

                <div *ngIf="pass.errors?.required ">
                    Password is required.
                </div>
                
            </div>

        </div>
<br>
        <button type="submit" class="btn btn-block btn-theme2 bg-theme2" [disabled]="profile.invalid">Sign In</button>
    
        <p id="signOnFailed"  class="alert-danger" style="display: none;">Username or Password is incorrect please try again</p>
    
    
    </div>
<br>


</form>
              
					</div>
				
					<br/>
					<div id="signUp" > Dont have an account? <a class="color-themeblack" href="/registerRecruiter0">Sign up!</a></div>

<div id="forgotPassword" > Forgot Password?<a class="color-themeblack" href="/forgotPass">click here</a></div>

<div id="sendFailed" >Need account confirmation email? <a class="color-themeblack" href="/resendVerification">click here</a>  </div>
  
				</div>
				
				<br/>
			</div>
			


        </div>
    </div>
</main>







 -->
