
<div class="container">


  <secureHeader></secureHeader>
 
<div id="loading" >
  <div class="spinner-border text-info" role="status">
    </div>
    Loading...
</div>
    <!-- <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div> -->

  <div id="pageLvlError" class="alert alert-primary d-none" role="alert">
    Page Load Failed Please hit <a href="./customGames" class="alert-link">refresh</a> or <a href="#" class="alert-link"> contact us</a>.
  </div>
  <div id="main"  >
 
  </div>
   
 
<secureFooter></secureFooter>
 
  
  
</div>