<!--The content below is only a placeholder and can be replaced.-->
<div id="main">

    
    <div class="header">
        <img href="/signOn" src="../../../../assets/logo.png" alt="secure_top_bar_logo">
        <input type="text" placeholder="Search..">
        <!-- <div class="header_links"> -->
          <a href="#home">Candidates</a>
          <a href="#contact">Recruiter</a>
          <a href="#contact">Companies</a>
          <a href="#about">About</a>
        <!-- </div> -->
        <!-- <div> -->
            <a href="#"><i class="fa fa-fw fa-envelope"></i></a>
             <button class="subnavbtn">Alerts <i class="fa fa-caret-down"></i></button>            <!-- </div> -->
            <button class="subnavbtn">Image <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="#link1">Settings</a>
            <a href="#link2">Sign Out</a>
            <a href="#link3">Link 3</a>
        </div>
      </div>
</div>
