 <header></header>

 <div class="jumbotron jumbotron-fluid">
  <div class="card-header">
    <h1 class="display-4">Recently Added Features</h1>
    <p class="lead">We are currently working towards phase one. Below are some udpates on some of the features avaliable</p>
  </div>


  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            2/7/21
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          -Players can register and do some profile tasks.
          <br>
          -Players can keep score on the cell phone 
          <br>
          -Players can see their past games.
          <br>
        </div>
      </div>
    </div>
   
  </div>



 

</div>

<secureFooter></secureFooter>